<% flight = @booking.flight %>
<h2>Booking Confirmation for Flight #<%= flight.id %> </h2>



<div class="container">
  <h2 style="text-decoration:underline">
    Flight Details for <%= @passenger.name %> on Flight #<%= flight.id %>:
    </h2>
  <%= render '/partials/flight_details', :flight => flight %>

</div>

